# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-toml
    -   id: check-added-large-files
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.267
    hooks:
    -   id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
-   repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    -   id: black
-   repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.308
    hooks:
    -   id: pyright
        additional_dependencies:
            # required dependencies
        -   httpx ~= 0.23
        -   importlib_metadata >= 1.4.0; python_version < "3.8"

            # optional dependencies
            # [lxml]
        -   lxml ~= 4.9

            # [json]
        -   xmltodict ~= 0.13

            # typing
        -   typing_extensions
        -   lxml-stubs @ https://github.com/lxml/lxml-stubs/archive/master.zip#egg=lxml-stubs
ci:
    skip:
    # CI doesn't like pip scripts calling their own node, so skip this for now
    -   pyright
