# required dependencies
httpx ~= 0.23
importlib_metadata >= 1.4.0; python_version < "3.8"

# optional dependencies
# [lxml]
lxml ~= 4.9
https://github.com/lxml/lxml-stubs/archive/master.zip#egg=lxml-stubs

# [json]
xmltodict ~= 0.13
